html body {
    font-family: "Helvetica", Sans-Serif;
    background: rgb(108, 100, 100);
    max-height: 615px;
    overflow: hidden;
}

.LoginPage{
    width: 400px;
    height: 615px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.LogoBG{
    width : 400px;
    height: 120px;
    background-color: #fb8701;
}
.semiCircle{
    width : 400px;
    height: 150px;
    border-radius:0 0 13rem 13rem;
    background-color: #fb8701;
}

h1{
    color: rgb(0, 0, 0);
    margin-top: 0px;
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
}

.logo{
    margin-top: 40px;
    text-align: center;

}